@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin: 0;
    background-color: #fef7f0;
    color: #333333;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
}

.socials-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: auto;

    a {
        color: #333333;
        text-decoration: none
    }
}

.film-grain-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}